*.egg-info
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz
*.pyzwzw
*.pyzwzwz
*.pyzwzwzw
*.pytest_cache
__pycache__/
.DS_Store
*.log
*.pytest_cache/*
*.pytest_cache/**
*.pytest_cache/**/*
*.pytest_cache/**/**
*.pytest_cache/**/**/*
*.pytest_cache/**/**/**
*.pytest_cache/**/**/**/*
*.pytest_cache/**/**/**/**
*.pytest_cache/**/**/**/**/*
*.pytest_cache/**/**/**/**/**
.history
.vscode
.env
.env.example
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test
.env.production
*node_modules*
*dist*
*build*
*docs*
*tests*
*tests/*
*tests/**
*tests/**/*
*tests/**/**
*tests/**/**/*
*tests/**/**/**
*tests/**/**/**/*